$color-blue-light: #F3FAFF;
$color-blue: #3776A4;
$color-blue-dark: rgb(26, 77, 114);

$color-black: #474747;

$color-gray-light: #D0DCE4;
$color-gray: #8097A8;

$color-teal: #CFFFFF;
$color-lavender: #F0E0FF;
$color-yellow: #FFF7CF;